Repository shadow81627/barry, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, test, dependencies, config

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler
# https://github.com/marketplace/actions/regex-issue-labeler

chore:
  - ./*

test:
  - test/**/*

dependencies:
  - package.json
  - package-lock.json

config:
  - nuxt.config.js
  - .npmrc
  - .gitignore
  - .gitattributes
  - .editorconfig
  - .github/**/**
#   - .env.example

test(lighthouse): disable failing tests
  lighthouserc.js
Labels: chore

chore(lighthouse): disable optimized-images
  lighthouserc.js
Labels: chore

fix(deps): update dependency nuxt-i18n to v5.12.7
  package.json
  yarn.lock
Labels: chore, dependencies

test: win page
  pages/win.vue
  tests/e2e/base_test.js
  tests/e2e/home_test.js
  tests/e2e/screenshots/base/win.png
  tests/e2e/screenshots/diff/Diff_win.png
Labels: none

fix(deps): update dependency nuxt-i18n to v5.12.7
  package.json
  yarn.lock
Labels: chore, dependencies

chore (release): 1.0.7
  CHANGELOG.md
Labels: chore

Notes added by 'git notes add'
  ce02e229a0ccfd6c9b123a857e6465512bbcbb28
Labels: chore

fix(deps): update dependency vuelidate to v0.7.6
  package.json
  yarn.lock
Labels: chore, dependencies

test: add all pages
  tests/e2e/base_test.js
  tests/e2e/screenshots/base/close.png
  tests/e2e/screenshots/base/commingsoon.png
  tests/e2e/screenshots/base/confirm.png
  tests/e2e/screenshots/base/emailshare.png
  tests/e2e/screenshots/base/explore.png
  tests/e2e/screenshots/base/offers.png
  tests/e2e/screenshots/base/request.png
  tests/e2e/screenshots/base/unsubscribe.png
  tests/e2e/screenshots/diff/Diff_close.png
  tests/e2e/screenshots/diff/Diff_commingsoon.png
  tests/e2e/screenshots/diff/Diff_confirm.png
  tests/e2e/screenshots/diff/Diff_emailshare.png
  tests/e2e/screenshots/diff/Diff_explore.png
  tests/e2e/screenshots/diff/Diff_offers.png
  tests/e2e/screenshots/diff/Diff_request.png
  tests/e2e/screenshots/diff/Diff_unsubscribe.png
Labels: none

fix(deps): update dependency vuelidate to v0.7.6
  package.json
  yarn.lock
Labels: chore, dependencies

chore (release): 1.0.8
  CHANGELOG.md
Labels: chore

Notes added by 'git notes add'
  b45e69976e11eefdae9bab6d3eb792d5b7d47153
Labels: chore

fix(deps): update dependency @nuxtjs/google-tag-manager to v2.3.2
  package.json
  yarn.lock
Labels: chore, dependencies

fix(deps): update dependency @nuxtjs/google-tag-manager to v2.3.2
  package.json
  yarn.lock
Labels: chore, dependencies

chore (release): 1.0.9
  CHANGELOG.md
Labels: chore

Notes added by 'git notes add'
  59010e6f8c37b0f00ddeb425a0442b9fa5bb41af
Labels: chore

chore(lighthouse): list warn
  lighthouserc.js
Labels: chore

chore (release): 1.0.10
  CHANGELOG.md
Labels: chore

Notes added by 'git notes add'
  f80d4e1df44b85790fc5dcb64496e76fec511195
Labels: chore

test: snapshot all pages (#35)
  lighthouserc.js
  pages/win.vue
  tests/e2e/base_test.js
  tests/e2e/home_test.js
  tests/e2e/screenshots/base/close.png
  tests/e2e/screenshots/base/commingsoon.png
  tests/e2e/screenshots/base/confirm.png
  tests/e2e/screenshots/base/emailshare.png
  tests/e2e/screenshots/base/explore.png
  tests/e2e/screenshots/base/offers.png
  tests/e2e/screenshots/base/request.png
  tests/e2e/screenshots/base/unsubscribe.png
  tests/e2e/screenshots/base/win.png
  tests/e2e/screenshots/diff/Diff_close.png
  tests/e2e/screenshots/diff/Diff_commingsoon.png
  tests/e2e/screenshots/diff/Diff_confirm.png
  tests/e2e/screenshots/diff/Diff_emailshare.png
  tests/e2e/screenshots/diff/Diff_explore.png
  tests/e2e/screenshots/diff/Diff_offers.png
  tests/e2e/screenshots/diff/Diff_request.png
  tests/e2e/screenshots/diff/Diff_unsubscribe.png
  tests/e2e/screenshots/diff/Diff_win.png
Labels: chore

refactor: replace event bus with vuex store
  assets/js/EventBus.js
  components/EmailShare.vue
  components/EntryConfirmed.vue
  components/EntryForm.vue
  components/Layout/Notification.vue
  store/notification.js
Labels: none

chore(notifictions): renmae notifications to list
  components/Layout/Notification.vue
  store/notifications.js
Labels: none

chore(deps): lock file maintenance
  yarn.lock
Labels: chore

chore(deps): lock file maintenance
  yarn.lock
Labels: chore

chore(deps): update dependency moment.js to v2.29.1
  static/comingsoon/index.html
Labels: none

chore(deps): update dependency moment.js to v2.29.1
  static/comingsoon/index.html
Labels: none

chore(deps): update dependency prettier to v1.19.1
  package.json
  yarn.lock
Labels: chore, dependencies

chore(deps): update dependency prettier to v1.19.1
  package.json
  yarn.lock
Labels: chore, dependencies

fix(deps): update dependency @nuxtjs/google-analytics to v2.4.0
  package.json
  yarn.lock
Labels: chore, dependencies

fix(deps): update dependency @nuxtjs/google-analytics to v2.4.0
  package.json
  yarn.lock
Labels: chore, dependencies

chore (release): 1.0.11
  CHANGELOG.md
Labels: chore

Notes added by 'git notes add'
  95fdfd02df4539661d81b17e98367719931e1cea
Labels: chore

fix(deps): update dependency vuex to v3.6.2
  package.json
  yarn.lock
Labels: chore, dependencies

fix(deps): update dependency vuex to v3.6.2
  package.json
  yarn.lock
Labels: chore, dependencies

chore (release): 1.0.12
  CHANGELOG.md
Labels: chore

Notes added by 'git notes add'
  d588dfb56c66ceab27e6f9169b4117dc63630693
Labels: chore

fix(deps): update dependency bootstrap-vue to v2.21.2
  package.json
  yarn.lock
Labels: chore, dependencies

fix(deps): update dependency bootstrap-vue to v2.21.2
  package.json
  yarn.lock
Labels: chore, dependencies

chore (release): 1.0.13
  CHANGELOG.md
Labels: chore

Notes added by 'git notes add'
  f0a7999bec936f1f078b6fd26a7fa7a4fd4584e7
Labels: chore
